# docx
docs/

# vscode
*.code-workspace
.idea/
.vscode/

# Agent
*.skill
.codegraph/
 
# local worktrees
.worktrees/
worktrees/
config.json
publish/

# opencode
opencode.json

# logs
logs/

# dotnet
**/bin/
**/obj/
